body {
    background-color: black;
}

.logoNav {
    margin-right: 10px;
    width: 30px;
}

.nav-item{
    text-align: center !important;
    
}
.nav-link:hover{
background-color: rgba(0, 0, 0, 0.822);
border-radius: 5px;
color: #fff !important;
}