body {
    background-color: black;
}

.logoNav {
    width: 30px;
}

.nav-item{
    text-align: center !important;
}
.nav-link:hover{
background-color: rgba(180, 170, 170, 0.726);
border-radius: 5px;
}

